EVIDENCIA DE APRENDIZAJE 3:

MALENIA JURANY CIFUENTES ALVAREZ CC:1123309582 , MARIA JOSÉ TOVAR PATERNINA CC:1005584586

Analítica de Datos (andres felipe callejas) - PREICA2502B010096

**PUNTO 1:** Creación DataFrame de frutas.

In [18]:
#importamos librerias
import pandas as pd

# Creamos un diccionario con los datos
datos = {
    'Granadilla': [20, 35, 12, 45, 28],
    'Tomates': [50, 40, 60, 55, 65],
    'Naranjas': [80, 75, 90, 85, 92],
    'Sandia': [40, 70, 35, 20, 50],
    'Maracuyá': [10, 20, 65, 43, 8],
    'fresa': [3, 65, 45, 32, 12],

}

# Creamos el DataFrame a partir del diccionario anterior 
frutas = pd.DataFrame(datos)

# Imprimimos el DataFrame
print(frutas)

   Granadilla  Tomates  Naranjas  Sandia  Maracuyá  fresa
0          20       50        80      40        10      3
1          35       40        75      70        20     65
2          12       60        90      35        65     45
3          45       55        85      20        43     32
4          28       65        92      50         8     12

**PUNTO 2:** Creación DataFrame Ventas_Frutas

In [20]:
#importamos librerias
import pandas as pd

# Creamos el DataFrame ventas_frutas con los siguientes datos:
datos = {
    'Granadilla': [20, 35, 12, 45, 28],
    'Tomates': [50, 40, 60, 55, 65],
    'Naranjas': [80, 75, 90, 85, 92],
    'Sandia': [40, 70, 35, 20, 50],
    'Maracuyá': [10, 20, 65, 43, 8],
    'fresa': [3, 65, 45, 32, 12],
}
indice = ['Enero 2025', 'Febrero 2025', 'Marzo 2025', 'Abril 2025', 'Mayo 2025']

ventas_frutas = pd.DataFrame(datos, index=indice)

# Calculamos la suma de cada fila (por año)
total_mensual = ventas_frutas.sum(axis=1)

# Imprimimos el resultado
print("ventas de frutas por mes 2025:")
print(ventas_frutas)
print("\nTotal de ventas por mes:")
print(total_mensual)

ventas de frutas por mes 2025:
              Granadilla  Tomates  Naranjas  Sandia  Maracuyá  fresa
Enero 2025            20       50        80      40        10      3
Febrero 2025          35       40        75      70        20     65
Marzo 2025            12       60        90      35        65     45
Abril 2025            45       55        85      20        43     32
Mayo 2025             28       65        92      50         8     12

Total de ventas por mes:
Enero 2025      203
Febrero 2025    305
Marzo 2025      307
Abril 2025      280
Mayo 2025       255
dtype: int64

**PUNTO 3:** Ceación de variable utensilios

In [26]:
import pandas as pd

# Creamos un diccionario con los datos y sus respectivos índices
datos_utensilios = {
    'Cuchara': '3 unidades',
    'Tenedor': '2 unidades',
    'Cuchillo': '4 unidades',
    'Plato': '5 unidades',
    'vaso' : '8 unidades',
    'sartenes' : '4 unidades'
}

# Creamos la Serie de pandas (datos y el nombre)
utensilios = pd.Series(datos_utensilios, name='Cocina')

# Imprimimos los resultados
print("utensilios de cocina")
print(utensilios)

utensilios de cocina
Cuchara     3 unidades
Tenedor     2 unidades
Cuchillo    4 unidades
Plato       5 unidades
vaso        8 unidades
sartenes    4 unidades
Name: Cocina, dtype: object

**PUNTO 4:** Descarga el dataset 'wine review' desde Kaggle y cárgalo en un DataFrame llamado review

In [5]:
import pandas as pd

# ¡IMPORTANTE! Cambiamos el nombre del archivo a la versión de 150k
# La ruta asume que el archivo está en la subcarpeta 'data'
file_path = './data/winemag-data_first150k.csv'

# Cargar el archivo en el DataFrame llamado 'review'
try:
    review = pd.read_csv(file_path)

    # 1. Limpieza: Eliminar la columna 'Unnamed: 0' si existe
    if 'Unnamed: 0' in review.columns:
        review = review.drop('Unnamed: 0', axis=1)

    # 2. Visualización (similar a la Figura 40)
    print("--- DataFrame 'review' cargado con la versión 150k ---")
    print(review.head())
    print("-" * 50)
    print(f"Dimensiones: {review.shape[0]:,} filas y {review.shape[1]} columnas.")
    
    # 3. Información detallada
    print("\n--- Tipos de Datos y Valores Faltantes (review.info()) ---")
    review.info()

except FileNotFoundError:
    print(f"¡ERROR! Archivo no encontrado en la ruta: {file_path}")
    print("Por favor, asegúrate de que el archivo 'winemag-data_first150k.csv' esté en la carpeta 'data'.")

--- DataFrame 'review' cargado con la versión 150k ---
  country                                        description  \
0      US  This tremendous 100% varietal wine hails from ...
1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2      US  Mac Watson honors the memory of a wine once ma...
3      US  This spent 20 months in 30% new French oak, an...
4  France  This is the top wine from La Bégude, named aft...

                            designation  points  price        province  \
0                     Martha's Vineyard      96  235.0      California
1  Carodorum Selección Especial Reserva      96  110.0  Northern Spain
2         Special Selected Late Harvest      96   90.0      California
3                               Reserve      96   65.0          Oregon
4                            La Brûlade      95   66.0        Provence

            region_1           region_2             variety  \
0        Napa Valley               Napa  Cabernet Sauvignon
1               Toro                NaN       Tinta de Toro
2     Knights Valley             Sonoma     Sauvignon Blanc
3  Willamette Valley  Willamette Valley          Pinot Noir
4             Bandol                NaN  Provence red blend

                    winery
0                    Heitz
1  Bodega Carmen Rodríguez
2                 Macauley
3                    Ponzi
4     Domaine de la Bégude
--------------------------------------------------
Dimensiones: 150,930 filas y 10 columnas.

--- Tipos de Datos y Valores Faltantes (review.info()) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      150925 non-null  object
 1   description  150930 non-null  object
 2   designation  105195 non-null  object
 3   points       150930 non-null  int64
 4   price        137235 non-null  float64
 5   province     150925 non-null  object
 6   region_1     125870 non-null  object
 7   region_2     60953 non-null   object
 8   variety      150930 non-null  object
 9   winery       150930 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 11.5+ MB

**PUNTO 5:** Visualización de las primeras filas del DataFrame

In [10]:
# Visualización de las primeras 5 filas del DataFrame 'review'
print("\nVisualización de las primeras filas")
print(review.head())

# obtención de la información filas/columnas
print("-" * 5)
print(f"Dimensiones del DataFrame: {review.shape[0]:,} filas y {review.shape[1]} columnas.")

Visualización de las primeras filas
  country                                        description  \
0      US  This tremendous 100% varietal wine hails from ...
1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2      US  Mac Watson honors the memory of a wine once ma...
3      US  This spent 20 months in 30% new French oak, an...
4  France  This is the top wine from La Bégude, named aft...

                            designation  points  price        province  \
0                     Martha's Vineyard      96  235.0      California
1  Carodorum Selección Especial Reserva      96  110.0  Northern Spain
2         Special Selected Late Harvest      96   90.0      California
3                               Reserve      96   65.0          Oregon
4                            La Brûlade      95   66.0        Provence

            region_1           region_2             variety  \
0        Napa Valley               Napa  Cabernet Sauvignon
1               Toro                NaN       Tinta de Toro
2     Knights Valley             Sonoma     Sauvignon Blanc
3  Willamette Valley  Willamette Valley          Pinot Noir
4             Bandol                NaN  Provence red blend

                    winery
0                    Heitz
1  Bodega Carmen Rodríguez
2                 Macauley
3                    Ponzi
4     Domaine de la Bégude
-----
Dimensiones del DataFrame: 150,930 filas y 10 columnas.

**PUNTO 6:** Utilización del método .info()

In [11]:
# Muestra un resumen conciso del DataFrame
print("Resultado de la función .info()")
review.info()

Resultado de la función .info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      150925 non-null  object
 1   description  150930 non-null  object
 2   designation  105195 non-null  object
 3   points       150930 non-null  int64
 4   price        137235 non-null  float64
 5   province     150925 non-null  object
 6   region_1     125870 non-null  object
 7   region_2     60953 non-null   object
 8   variety      150930 non-null  object
 9   winery       150930 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 11.5+ MB

**PUNTO 7:** ¿Cuál es el precio promedio?

In [12]:
# Calcular el precio promedio de la columna 'price'
average_price = review['price'].mean()

# Imprimir el resultado
print(f"El precio promedio de los vinos en el dataset es: ${average_price:.2f} USD")

El precio promedio de los vinos en el dataset es: $33.13 USD

**PUNTO 8:** ¿Cuál es el precio más alto pagado?

In [13]:
# Encontrar el valor máximo en la columna 'price'
highest_price = review['price'].max()

# Imprimir el resultado
print(f"El precio más alto pagado por un vino en el dataset es: ${highest_price:.2f} USD")

El precio más alto pagado por un vino en el dataset es: $2300.00 USD

**PUNTO 9:** Creación de un DataFrame con todos los vinos de california

In [14]:
#importamos las librerias 
import pandas as pd

# 1. Definir la condición de filtrado
# seleccionamos las filas "province" = "california"
condition = review['province'] == 'California'

# 2. Aplicar el filtro para crear el nuevo DataFrame
# Usamos loc[] para seleccionar todas las filas (:) que cumplen la condición.
california_wines = review.loc[condition]

# 3. Visualizar el resultado 
print("DataFrame 'california_wines'")
print(california_wines.head(7)) 
print("-" * 10)
print(f"Dimensiones del nuevo DataFrame: {california_wines.shape[0]:,} filas y {california_wines.shape[1]} columnas.")

DataFrame 'california_wines'
   country                                        description  \
0       US  This tremendous 100% varietal wine hails from ...
2       US  Mac Watson honors the memory of a wine once ma...
9       US  The producer sources from two blocks of the vi...
16      US  This blockbuster, powerhouse of a wine suggest...
19      US  This fresh and lively medium-bodied wine is be...
20      US  Heitz has made this stellar rosé from the rare...
23      US  The apogee of this ambitious winery's white wi...

                      designation  points  price    province  \
0               Martha's Vineyard      96  235.0  California
2   Special Selected Late Harvest      96   90.0  California
9            Gap's Crown Vineyard      95   60.0  California
16                Rainin Vineyard      95  325.0  California
19           Gap's Crown Vineyard      95   75.0  California
20                     Grignolino      95   24.0  California
23                  Giallo Solare      95   60.0  California

                     region_1       region_2             variety  \
0                 Napa Valley           Napa  Cabernet Sauvignon
2              Knights Valley         Sonoma     Sauvignon Blanc
9                Sonoma Coast         Sonoma          Pinot Noir
16  Diamond Mountain District           Napa  Cabernet Sauvignon
19               Sonoma Coast         Sonoma          Pinot Noir
20                Napa Valley           Napa                Rosé
23                Edna Valley  Central Coast          Chardonnay

              winery
0              Heitz
2           Macauley
9          Blue Farm
16              Hall
19      Gary Farrell
20             Heitz
23  Center of Effort
----------
Dimensiones del nuevo DataFrame: 44,508 filas y 10 columnas.

**PUNTO 10:** idxmax() para enocontrar el indice del vino

In [15]:
# se realiza con 'california_wines' en el punto anterior

# 1. Encontrar el índice (fila) del precio más alto
# .idxmax() devuelve el índice de la primera aparición del valor máximo.
most_expensive_index = california_wines['price'].idxmax()

# 2. Utilizar .loc[] con ese índice para obtener toda la información de la fila
# Seleccionamos la fila completa del vino más caro del DataFrame de California
most_expensive_wine = california_wines.loc[most_expensive_index]

# 3. Visualizar el resultado (similar a la Figura 43)
print("El vino más caro de California es:")
print(most_expensive_wine)

# se muestra el indice y el precio
print(f"\nÍndice: {most_expensive_index}, Precio: ${most_expensive_wine['price']:.2f}")

El vino más caro de California es:
country                                                       US
description    The nose on this single-vineyard wine from a s...
designation                                  Roger Rose Vineyard
points                                                        91
price                                                     2013.0
province                                              California
region_1                                             Arroyo Seco
region_2                                           Central Coast
variety                                               Chardonnay
winery                                                     Blair
Name: 13318, dtype: object

Índice: 13318, Precio: $2013.00

**PUNTO 11:** ¿Cuáles son los tipos de uvas más comunes en california?

In [17]:
# se realiza con'california_wines' 

# 1. Seleccionar la columna 'variety' del DataFrame de California
california_varieties = california_wines['variety']

# 2. Contar la frecuencia de cada tipo de uva
# .value_counts() cuenta las ocurrencias de cada valor único
# y las ordena automáticamente de forma descendente.
most_common_varieties = california_varieties.value_counts()

# 3. Visualizar el resultado
print("Tipos de Uva más Comunes en California")
print(most_common_varieties)

#Mostrar el total de variedades distintas
print(f"\nTotal de variedades distintas en California: {len(most_common_varieties)}")

Tipos de Uva más Comunes en California
variety
Pinot Noir                   7633
Cabernet Sauvignon           7452
Chardonnay                   6536
Zinfandel                    3691
Syrah                        2705
                             ...
Madeira Blend                   1
Sauvignon Musqué                1
Cabernet Sauvignon-Malbec       1
Viognier-Valdiguié              1
Pinot Grigio-Chardonnay         1
Name: count, Length: 167, dtype: int64

Total de variedades distintas en California: 167

**PUNTO 12:** ¿Cuáles son los 10 tipos de uva más comunes en California?

In [18]:
# 1. Contar la frecuencia de cada tipo de uva en California
# .value_counts() ordena automáticamente de mayor a menor.
most_common_varieties = california_wines['variety'].value_counts()

# 2. Seleccionar las 10 primeras entradas 
top_10_varieties = most_common_varieties.head(10)

# 3. Visualizar el resultado
print("Los 10 Tipos de Uva Más Comunes en California")
print(top_10_varieties)

Los 10 Tipos de Uva Más Comunes en California
variety
Pinot Noir                  7633
Cabernet Sauvignon          7452
Chardonnay                  6536
Zinfandel                   3691
Syrah                       2705
Merlot                      2293
Sauvignon Blanc             2220
Red Blend                   1783
Bordeaux-style Red Blend    1130
Petite Sirah                 830
Name: count, dtype: int64