EVIDENCIA DE APRENDIZAJE 3:

MALENIA JURANY CIFUENTES ALVAREZ CC:1123309582 , MARIA JOSÉ TOVAR PATERNINA CC:1005584586

Analítica de Datos (andres felipe callejas) - PREICA2502B010096

**PUNTO 1:** Creación DataFrame de frutas.

In [10]:
import pandas as pd

# Creamos un diccionario con los datos
datos = {
    'Granadilla': [20, 35, 12, 45, 28],
    'Tomates': [50, 40, 60, 55, 65],
    'Naranjas': [80, 75, 90, 85, 92],
    'Sandia': [40, 70, 35, 20, 50],
    'Maracuyá': [10, 20, 65, 43, 8],
    'fresa': [3, 65, 45, 32, 12],

}

# Creamos el DataFrame a partir del diccionario
frutas = pd.DataFrame(datos)

# Imprimimos el DataFrame para verificar el resultado
print(frutas)

   Granadilla  Tomates  Naranjas  Sandia  Maracuyá  fresa
0          20       50        80      40        10      3
1          35       40        75      70        20     65
2          12       60        90      35        65     45
3          45       55        85      20        43     32
4          28       65        92      50         8     12

**PUNTO 2:** Creación DataFrame Ventas_Frutas

In [1]:
import pandas as pd

# Creamos el DataFrame ventas_frutas
datos = {
    'Granadilla': [20, 35, 12, 45, 28],
    'Tomates': [50, 40, 60, 55, 65],
    'Naranjas': [80, 75, 90, 85, 92],
    'Sandia': [40, 70, 35, 20, 50],
    'Maracuyá': [10, 20, 65, 43, 8],
    'fresa': [3, 65, 45, 32, 12],
}

indice = ['Enero 2025', 'Febrero 2025', 'Marzo 2025', 'Abril 2025', 'Mayo 2025']

ventas_frutas = pd.DataFrame(datos, index=indice)

# Calculamos la suma de cada fila (por año)
total_mensual = ventas_frutas.sum(axis=1)

# Imprimimos el resultado
print("Datos de ventas por mes 2025:")
print(ventas_frutas)
print("\nSuma de ventas por mes:")
print(total_mensual)

Datos de ventas por mes 2025:
              Granadilla  Tomates  Naranjas  Sandia  Maracuyá  fresa
Enero 2025            20       50        80      40        10      3
Febrero 2025          35       40        75      70        20     65
Marzo 2025            12       60        90      35        65     45
Abril 2025            45       55        85      20        43     32
Mayo 2025             28       65        92      50         8     12

Suma de ventas por mes:
Enero 2025      203
Febrero 2025    305
Marzo 2025      307
Abril 2025      280
Mayo 2025       255
dtype: int64

**PUNTO 3:** Ceación de variable utensilios

In [14]:
import pandas as pd

# Creamos un diccionario con los datos y sus respectivos índices
datos_utensilios = {
    'Cuchara': '3 unidades',
    'Tenedor': '2 unidades',
    'Cuchillo': '4 unidades',
    'Plato': '5 unidades'
}

# Creamos la Serie de pandas, especificando los datos y el nombre
utensilios = pd.Series(datos_utensilios, name='Cocina')

# Imprimimos la Serie para verificar el resultado
print(utensilios)

Cuchara     3 unidades
Tenedor     2 unidades
Cuchillo    4 unidades
Plato       5 unidades
Name: Cocina, dtype: object

**PUNTO 4:** Descarga el dataset 'wine review' desde Kaggle y cárgalo en un DataFrame llamado review

**PUNTO 5:** Visualización de las primeras filas del DataFrame

**PUNTO 6:** Utilización del método .info()

**PUNTO 7:** ¿Cuál es el precio promedio?

**PUNTO 8:** ¿Cuál es el precio más alto pagado?

**PUNTO 9:** Creación de un DataFrame con todos los vinos de california

**PUNTO 10:** idxmax() para enocontrar el indice del vino

**PUNTO 11:** ¿Cuáles son los tipos de uvas más comunes en california?

**PUNTO 12:** ¿Cuáles son los 10 tipos de uva más comunes en California?